@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #1f1f1f;
}
.pop-font {
  font-family: "Poppins", sans-serif;
}
